# Environments - Ignore virtual environment folders
.venv/
venv/
env/
ENV/
.env
.virtualenv
virtualenv/
pipenv/
Pipfile.lock

# Python cache and byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# Test and coverage reports
.coverage
.cache
htmlcov/

# Editor and OS-specific files
.vscode/
.idea/
.DS_Store
